.approve-button {
  background-color: #096022 !important;
  border-color: #096022 !important;
  color: white !important;
  margin-right: 10px;
  padding: 10px 16px; /* ✅ Increased padding */
  font-size: 14px; /* ✅ Adjust font size */
  margin-bottom: 20px !important;
}

.reject-button {
  background-color: #930000 !important;
  border-color: #930000 !important;
  color: white !important;
  margin-right: 10px;
  padding: 10px 16px; /* ✅ Increased padding */
  font-size: 14px; /* ✅ Adjust font size */
  margin-bottom: 20px !important;
}
.previous-button {
  background-color: #1F6281; /* Red */
  color: white;
  border: none;
  border-radius: 5px;
  margin-right: 10px; /* Space between buttons */
  padding: 6px 16px;
  transition: background-color 0.3s ease;
}

.previous-button:hover {
  background-color: #1F6281; /* Slightly darker red on hover */
}

.Close-button {
  background-color: #1F6281 !important; /* Red */
  color: white !important;
  border: none !important;
  border-radius: 5px !important;
  padding: 6px 16px !important;
  transition: background-color 0.3s ease;
}

.Close-button:hover {
  background-color: #1F6281 !important; /* Darker red on hover */
  color: white !important;
}





